---

---
<div class="">
    <div class="w-full flex flex-col relative overflow-hidden h-100"> <!-- Add h-96 for height -->
        <div class="absolute inset-0 bg-black opacity-60 z-10"></div> <!-- Mask -->
        <img src="https://a.storyblok.com/f/140876/1745x640/987f9f191f/ninesols_ost_banner_1745x640.jpg" class="w-full h-100 object-cover absolute inset-0 z-0" alt="" /> <!-- absolute inset-0 z-0 -->
        <p class="absolute top-25 w-full text-white right-30 font-body text-5xl font-bold italic text-end z-20 px-4">
            <span class="text-[#408A71]">N</span>INE <span class="text-[#408A71]">S</span>OLS <span class="text-[#408A71]">S</span>PEEDRUNNING
        </p>
        <p class="absolute font-body top-45 right-30 text-gray-200 w-120 italic max-w-full px-4 text-end z-20">
            A comprehensive all-in-one hub for Nine Sols speedrunning, compiling detailed explanations of routes, skips, tricks, tech, glitches, and more.
        </p>
        <div class="hover:bg-white font-body cursor-pointer hover:text-black transition-colors duration-400 absolute top-70 tracking-widest right-34 h-15 w-55 justify-center items-center font-bold flex flex-col border-1 border-white text-white z-50">WHERE TO START?</div>
    </div>
</div>