---

---

<div class="carousel w-full">
    <div id="item1" class="carousel-item w-full">
        <div role="alert" class="alert alert-info bg-[#285A48]/80 text-white border-0 w-full my-5 mt-10 mx-20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>You can skip the Intro Cutscene with [Tab] on Keyboard, or [Select/Minus] on Controller. It can be skipped before the cutscene is even on screen</span>
        </div>
    </div>
    <div id="item2" class="carousel-item w-full">
        <div role="alert" class="alert alert-info bg-[#285A48]/80 text-white w-full border-0 my-5 mt-10 mx-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>You can just Save & Quit after collecting a pickup. Since the progress is saved, you can just respawn on the last Root Node with the collected item.</span>
        </div>
    </div>
    <div id="item3" class="carousel-item w-full">
        <div role="alert" class="alert alert-info bg-[#285A48]/80 text-white w-full border-0 my-5 mt-10 mx-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>Fastest known language is Traditional Chinese (in terms of mashing through dialogue, doesn’t apply for holding)</span>
        </div>
    </div>
    <div id="item4" class="carousel-item w-full">
        <div role="alert" class="alert alert-info bg-[#285A48]/80 text-white w-full border-0 my-5 mt-10 mx-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>It's faster to hold through most dialogues (enable the hold option in Gameplay), maybe mash through the ones with only 1-2 dialogues	</span>
        </div>
    </div>
</div>
<div class="flex w-full justify-center gap-2">
    <a href="#item1" class="btn btn-xs no-jump bg-[#285A48]/40 hover:bg-[#285A48]/90 rounded-full h-4 w-4" data-slide="item1"></a>
    <a href="#item2" class="btn btn-xs no-jump bg-[#285A48]/40 hover:bg-[#285A48]/90 rounded-full h-4 w-4" data-slide="item2"></a>
    <a href="#item3" class="btn btn-xs no-jump bg-[#285A48]/40 hover:bg-[#285A48]/90 rounded-full h-4 w-4" data-slide="item3"></a>
    <a href="#item4" class="btn btn-xs no-jump bg-[#285A48]/40 hover:bg-[#285A48]/90 rounded-full h-4 w-4" data-slide="item4"></a>
</div>